In [27]:
marks={'Alan':30,'Adya':40,'Simran':50,'Rita':60}
print(marks)

{'Alan': 30, 'Adya': 40, 'Simran': 50, 'Rita': 60}

In [28]:
marks['Adya']

40

In [29]:
marks['Alan']=60
print('the new marks of alan is',marks['Alan'])

the new marks of alan is 60

In [30]:
marks['Alan']+50

110

In [31]:
marks_dic= {
'student1':
    {'name':'Alia',
    'cgpa':5.6},
'student2':
    {'name':'Simran',
    'cgpa':7.8} ,
'student3' :
     {'name':'Boby',
     'cgpa':9.8}   
}

In [32]:
print(marks_dic['student1']['name'])

Alia

In [33]:
print(marks_dic.get('student1'))

{'name': 'Alia', 'cgpa': 5.6}

In [34]:
print(marks_dic.get('student1').get('cgpa'))

5.6

In [35]:
print(marks_dic.get('student4'))

None

In [36]:
print(marks_dic['student1']['cgpa'])

5.6

In [37]:
squares={1:8,2:9,3:5,4:7,6:3}

In [38]:

for i in squares:
    print(i)

1
2
3
4
6

In [39]:
    for i in squares:
        print(squares[i])

8
9
5
7
3

In [40]:
print(squares.pop(4))

7

In [41]:
print(squares.popitem())

(6, 3)

In [42]:
MOVIES={
    'INCEPTION':{
        'YEAR':2010,
        'RATING':8.8,
    },
    'THE DARKER KNIGHT':{
        'YEAR':2008,
        'RATING':9.0
    }
}

In [43]:
MOVIES.get('THE DARKER KNIGHT').get('RATING')

9.0

In [44]:
marks.update({'Grace':40,'Bony':70,'Eyda':60})

In [45]:
print(marks)

{'Alan': 60, 'Adya': 40, 'Simran': 50, 'Rita': 60, 'Grace': 40, 'Bony': 70, 'Eyda': 60}

In [46]:
marks.pop('Grace')
print(marks)

{'Alan': 60, 'Adya': 40, 'Simran': 50, 'Rita': 60, 'Bony': 70, 'Eyda': 60}

In [47]:
item_data_was_removed=marks.pop('Alan')
print(marks)
print(item_data_was_removed)

{'Adya': 40, 'Simran': 50, 'Rita': 60, 'Bony': 70, 'Eyda': 60}
60

In [52]:
marks.get('Adya')

40

In [53]:
marks.get('Simran')

50

In [54]:
x=[23,45,67,45,23]
x2=[]

In [59]:
for i in x:
 sqr =i**2
x2.append(sqr)
print(x)
print(x2)

[23, 45, 67, 45, 23]
[529]

In [60]:
#how to append directly
#comprehension- when u want to create a list from othe list
# newlist=[operation loop condition]
x3=[i**2 for i in x]
print(x3)

[529, 2025, 4489, 2025, 529]

In [63]:
a=[2,3,1,4,5,6,8,5,7]
even_no=[i for i in a if i%2==0]
odd_no=[i for i in a if i%2!=0]
print(even_no)
print(a,even_no)

[2, 4, 6, 8]
[2, 3, 1, 4, 5, 6, 8, 5, 7] [2, 4, 6, 8]

In [2]:
a=[2,3,1,4,5,6,8,5,7]
ev_no=[i%2==0 for i in a]
print(ev_no)

[True, False, False, True, False, True, True, False, False]

In [64]:
a=[2,3,1,4,5,6,8,5,7]
even_no=[i for i in a if i%2==0]
odd_no=[i for i in a if i%2!=0]
print(even_no,odd_no)

[2, 4, 6, 8] [3, 1, 5, 5, 7]

In [13]:
name=['Stayam Maan','Alia Tiwari','Sona Sherma','Srhisti Dixit']
initial_names=[f'{n.split()[-1][-1]}'for n in name]
print(initial_names)

['n', 'i', 'a', 't']

ayush = 01234
my name is ayush mishra 0 1 2 3 4