string function

In [3]:
story2="My name is a Amisha dixit I have completed my graduation in electronics nad communtication."
print(story2)

My name is a Amisha dixit I have completed my graduation in electronics nad communtication.

In [4]:
story2.capitalize()

'My name is a amisha dixit i have completed my graduation in electronics nad communtication.'

In [5]:
print(story2)

My name is a Amisha dixit I have completed my graduation in electronics nad communtication.

In [6]:
story2.casefold()

'my name is a amisha dixit i have completed my graduation in electronics nad communtication.'

In [7]:
story2.upper()

'MY NAME IS A AMISHA DIXIT I HAVE COMPLETED MY GRADUATION IN ELECTRONICS NAD COMMUNTICATION.'

In [8]:
story2.lower()

'my name is a amisha dixit i have completed my graduation in electronics nad communtication.'

In [9]:
story2.center(len(story2)+10,'#')

'#####My name is a Amisha dixit I have completed my graduation in electronics nad communtication.#####'

In [10]:
story2.center(len(story2)+4,)

'  My name is a Amisha dixit I have completed my graduation in electronics nad communtication.  '

In [11]:
story2.zfill(len(story2)+5)

'00000My name is a Amisha dixit I have completed my graduation in electronics nad communtication.'

In [12]:
story2.count('a')

8

In [13]:
story2.lower().count('ami')

1

In [14]:
story2.encode()

b'My name is a Amisha dixit I have completed my graduation in electronics nad communtication.'

In [15]:
story2.endswith('communtication.')

True

In [16]:
story2.find('dixit')

20

In [17]:
a=45
b=9
c=a/b
print('{}/{}is equal to {}'.format(a,b,c))

45/9is equal to 5.0

In [18]:
print(f'{a}/{b} is equal to {c}')

45/9 is equal to 5.0

In [19]:
name='Hrry'
age=80
print(f'my name is {name} his age is {age}')

my name is Hrry his age is 80

In [20]:
name='Hrry'
age=80
print('my name is {name} his age is {age}'.format(name,age))

KeyError: 'name'

In [ ]:
story2.index('a',8)

11

In [ ]:
story2.index('a')

4

In [ ]:
story2.rfind('a')

85

In [ ]:
#search and display all index of a searched word
start=0
q='i'
while True:
    idx=story2.lower().find(q,start)
    if idx==-1:
        break
    print(f'{q}found at{idx}')
    start=idx+1

ifound at8
ifound at15
ifound at21
ifound at23
ifound at26
ifound at53
ifound at57
ifound at68
ifound at83
ifound at87

In [25]:
c=story2.expandtabs(12)
y=story2.expandtabs(11)
print(c)
print(y)

My name is a Amisha dixit I have completed my graduation in electronics nad communtication.
My name is a Amisha dixit I have completed my graduation in electronics nad communtication.

In [26]:
story2.isalnum()

False

In [28]:
story2.(42)

AttributeError: 'str' object has no attribute 'add'