In [1]:
wordlist=['happy','sad','angry','tired','lonely','sleepy']
" ".join(wordlist)

'happy sad angry tired lonely sleepy'

In [40]:
story='once upon a time there was a town named Shankarpur ,once upon a town'
print(story)

once upon a time there was a town named Shankarpur ,once upon a town

In [2]:
wordlist=['happy','sad','angry','tired','lonely','sleepy']
wordliststr=" ".join(wordlist)

In [4]:
wordlist=['happy','sad','angry','tired','lonely','sleepy']
print(f'emotions are {" ".join(wordlist)}')

emotions are happy sad angry tired lonely sleepy

In [38]:
story='once upon a time there was a village named Shankarpur ,one day'
story.count('he')

1

In [6]:
story='once upon a time there was a village named Shankarpur ,one day'
story.count('on')

3

In [ ]:
print('a:',story)

In [7]:
for char in "aeiou":
    print(char,':',story.lower().count(char))

a : 8
e : 7
i : 2
o : 3
u : 2

In [9]:
#count all alphabets in string
from string import ascii_lowercase
for char in ascii_lowercase:
    print(char,':',story.lower().count(char))

a : 8
b : 0
c : 1
d : 2
e : 7
f : 0
g : 1
h : 2
i : 2
j : 0
k : 1
l : 2
m : 2
n : 5
o : 3
p : 2
q : 0
r : 3
s : 2
t : 2
u : 2
v : 1
w : 1
x : 0
y : 1
z : 0

In [10]:
'once upon a time there was a village named Shankarpur ,once upon a programmer'
story.index('once')

0

In [24]:
story='once upon a time there was a village named Shankarpur ,once upon a village'
story.index('upon',6)

60

In [20]:
story='once upon a time there was a village named Shankarpur ,once upon a programmer'
story.rfind('upon')

60

In [21]:
#search and display all index of a searched word
start=0
q='i'
while True:
    idx=story.lower().find(q,start)
    if idx==-1:
        break
    print(f'{q}found at{idx}')
    start=idx+1

ifound at13
ifound at30

In [22]:
start=0
q='on'
while True:
    idx=story.lower().find(q,start)
    if idx==-1:
        break
    print(f'{q}found at{idx}')
    start=idx+1

onfound at0
onfound at7
onfound at55
onfound at62

In [25]:
story.replace('village','town')

'once upon a time there was a town named Shankarpur ,once upon a town'

In [27]:
story.replace('village','town',1)

'once upon a time there was a town named Shankarpur ,once upon a village'

In [35]:
story=story.replace('a','')
story=story.replace('e','')
story=story.replace('i','')
story=story.replace('o','')
print(story)

nc upn  tm thr ws  vllg nmd Shnkrpur ,nc upn  vllg

In [41]:
for vowel in'aeiou':

    story=story.replace(vowel,'')
print(story)

nc pn  tm thr ws  twn nmd Shnkrpr ,nc pn  twn

In [42]:
name="amisha"
name_expanded=name.center(30)
print(name_expanded)

            amisha

In [43]:
name_expanded.strip()

'amisha'

In [45]:
name_expanded.lstrip()

'amisha            '

In [46]:
name_expanded.rstrip()

'            amisha'